/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo con gradiente sutil */
body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #f9f9f9, #e0f7fa);
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
button {
  cursor: pointer;
}